* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

body {
  overflow: hidden;
}



.slides {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300vw;
}

.slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide h2 {
  font-size: 7rem;
  font-family: ;
}

.slide:nth-of-type(even) {
  background-color: aquamarine;
}

.slide:nth-of-type(odd) {
  background-color: burlywood;
}